table {
    width: 90%;
    border: 1px solid var(--mid-gray);
    border-radius: 0.1rem;
    margin: 1rem 0 0 3rem;
    border-collapse: collapse;
  }
  
  tbody tr:nth-child(odd) {
    background-color: var(--light-gray);
    color: var(--dark);
  }
  
  table,
  td,
  th {
    border: 1px solid var(--border);
  }
  
  .leaveMission,
  .joinMission {
    background-color: var(--light);
    width: max-content;
    padding: 0.3rem;
    border: 1.5px solid var(--dark-bg);
    border-radius: 0.1rem;
    margin: 1rem;
  }
  
  .activeMember,
  .notMember {
    display: inline-block;
    width: max-content;
    border: 1.5px solid var(--dark-bg);
    margin: 0.8rem;
    padding: 0.1rem;
    color: var(--light);
    font-size: 12px;
    font-weight: 700;
  }
  
  .notMember {
    background-color: var(--mid-gray);
  }
  
  .activeMember {
    background-color: var(--active);
  }
  
  .leaveMission {
    color: var(--warning);
  }
  
  .joinMission {
    color: var(--mid-gray);
  }