table {
  width: 90%;
  border: 1px solid var(--mid-gray);
  border-radius: 0.1rem;
  margin: 1rem 0 0 3rem;
  border-collapse: collapse;
}

tbody tr:nth-child(odd) {
  background-color: var(--light-gray);
  color: var(--dark);
}

table,
td,
th {
  border: 1px solid var(--border);
}

.leaveMission,
.joinMission {
  background-color: transparent;
  width: max-content;
  padding: 0.3rem;
  border: 1.5px solid var(--dark-bg);
  margin: 1rem;
  border-radius: 0.3rem;
}

.activeMember,
.notMember {
  display: inline-block;
  width: max-content;
  border: none;
  margin: 0.8rem;
  padding: 0.2rem;
  color: var(--light);
  font-size: 12px;
  font-weight: 700;
  border-radius: 0.3rem;
}

.notMember {
  background-color: var(--lighter-gray);
}

.activeMember {
  background-color: var(--active);
}

.leaveMission {
  border: 1px solid var(--warning);
  color: var(--warning);
}

.joinMission {
  border: 1px solid var(--mid-gray);
  color: var(--mid-gray);
}
