* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

*:root {
  --dark: #000;
  --dark-bg: rgba(0, 0, 0, 0.384);
  --light: #fff;
  --blue: #0290ff;
  --light-gray: #f2f2f2;
  --border: #dfe0e2;
  --mid-gray: rgb(165, 161, 161);
  --warning: rgba(255, 0, 0, 0.363);
  --active: rgb(25, 128, 128);
}

body {
  padding: 1rem;
}

button {
  cursor: pointer;
}
