* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

*:root {
  --dark: #000;
  --light: #fff;
}

body {
  padding: 1rem;
}

button {
  cursor: pointer;
}
